body {
	scrollbar-width: thin;
	scrollbar-color: red black;
	overflow-y: scroll;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: black;
	border-radius: 6px;
}

::-webkit-scrollbar-thumb {
	background-color: red;
	border-radius: 6px;
	border: 3px solid black;
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body,
html {
	height: 100%;
	font-family: 'Roboto', sans-serif;
}
.menu {
	padding: 18vh 38px;
	position: fixed;
	background: rgba(25, 25, 25, 0.8);
	height: 100vh;
	backdrop-filter: blur(1px);
	border-right: 4px solid rgb(102, 42, 42);
	z-index: 10;
	top: 0;
	left: -220px;
	transition: all 0.3s ease;
}

.menu:hover {
	left: 0;
	transition: all 0.3s ease;
}

.title h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	margin-bottom: 40px;
	color: #fff;
}

.title span {
	color: rgb(230, 90, 90);
}

.list_menu a {
	position: relative;
	display: block;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-size: 15px;
	padding-left: 5px;
	transition: all 0.2s ease;
}

.list_menu a::before,
.list_menu a::after {
	content: '';
	position: absolute;
	left: 0;
	width: 2px;
	height: 0;
	background: rgb(230, 90, 90);
	transition: height 0.2s ease;
}

.list_menu a::before {
	top: 50%;
}

.list_menu a::after {
	bottom: 50%;
}

.list_menu a:hover::before,
.list_menu a:hover::after {
	height: 50%;
}

.list_menu a:hover {
	padding-left: 10px;
}

.list_menu li {
	margin: 25px 0;
}

.footer_menu p {
	font-family: 'Roboto', sans-serif;
	color: #6c6a6a;
	font-size: 10px;
}

.content {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
}

.background-image {
	width: 100%;
	height: 100%;
	background-image: url('./images/eclipseBerserk.jpg');
	background-size: cover;
	background-position: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
}
